@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F3F0;
  overflow-x: hidden;
}

button {
  position: relative;
  z-index: 10;
}

button::before,
button::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

button::before {
  /* Black border effect */
  top: -2px; /* same as border width */
  left: -2px; /* same as border width */
  right: -2px; /* same as border width */
  bottom: -2px; /* same as border width */
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
}

button::after {
  /* White background effect */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
}

button:hover::before,
button:hover::after {
  transform: scaleX(1);
}